#!/usr/bin/make -f

SHELL := sh -e
VERSION ?= 146.0.7680.153-1

%:
	dh ${@}

ungoogled-chromium.tar.xz:
	curl -sLo ungoogled-chromium.tar.xz \
    https://github.com/ungoogled-software/ungoogled-chromium-portablelinux/releases/download/$(VERSION)/ungoogled-chromium-$(VERSION)-x86_64_linux.tar.xz

ungoogled-chromium: ungoogled-chromium.tar.xz
	tar xJf ungoogled-chromium.tar.xz
	mv ungoogled-chromium-$(VERSION)-x86_64_linux ungoogled-chromium

override_dh_auto_build: ungoogled-chromium
	sed -i '1!b;s/.*/ungoogled-chromium ($(VERSION)) stable; urgency=low/' debian/changelog

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/ungoogled-chromium/usr/share
	cp -a ungoogled-chromium $(CURDIR)/debian/ungoogled-chromium/usr/share/ungoogled-chromium

# Prebuilt upstream binaries: Depends are listed in debian/control. dh_shlibdeps
# needs matching libraries on the build host and fails in minimal CI images.
override_dh_shlibdeps:
	@:
